# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# OSX Finder turds
.DS_Store

# dev DB
# *.db

# Boxes
*.box
*.log

# Distribution / packaging
.idea/
.sass-cache/
.vagrant/
cache/

# Folders
# public/
extras/
env/
var/
node_modules/

# ngrok

# Unit test / coverage reports
coverage/
.coverage
.cache


.DS_STORE
*.ipr
*.iml
*.iws
*.flags.json
npm-debug.log
web/
lib/*.zip
version.properties
.sass-cache
swagger-ui.sublime-workspace
.idea
.project
node_modules/*
/nbproject/private/
dist/specs/
test/specs/local/

