{% load static i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %} <title></title>{% endblock title %}

    {% block meta %}
    
    {% endblock meta %}

    {% include 'partials/css.html' %}

    {% block pushcss %}
        <!-- css -->
    {% endblock pushcss %}

</head>

<body>
	<div class="preloader js-preloader flex-center">

		<div class="dots">
			<div class="dot"></div>

			<div class="dot"></div>

			<div class="dot"></div>

		</div>

	</div>
	<div class="theme-wrapper">

		<header class="style1 style2 position-relative">
            {% include "partials/header.html" %}
		</header>

        {% block content %}
            <!-- Block Content -->
        {% endblock content %}

        <footer class="sec-space no-bottom footer-overlay position-relative">
            {% include 'partials/footer.html' %}
        </footer>

	</div>

    {% block pushjs %}
        <!-- js -->
    {% endblock pushjs %}

    {% include 'partials/js.html' %}
</body>

</html>