{% extends 'base.html' %}
{% load static i18n %}
{% block title %}<title>Qulilita</title> {% endblock title %}

{% block content %}

    {% include "partials/slider.html" %}

    <section>
        <div class="sec-space no-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="abt-resturant">
                            <span class="text-theme theme-color fs-20 d-block mb-2"> Qulilita</span>
                            <h2 class="h1 mb-3 font-weight-bold">Creemos Juntos</h2>
                            <p class="pr-5 mb-4">Creamos algo que refleje tu personalidad, que sea auténtico y original.</p>
                            <span class="font-weight-semibold mb-3 fs-20 d-block">CREA Y COMPARTE</span>
                            <ul class="list-unstyled p-0 m-0">

                                <li class="fs-18 text-gray"><i class="flaticon-buy"></i>CREA
                                </li>
                                <li class="fs-18 text-gray"><i class="flaticon-phone"></i>PERSONALIZA</li>
                                <li class="fs-18 text-gray"><i class="flaticon-reload"></i>COMPARTE</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="abt-imgs d-flex align-items-center">
                            <div class="align-self-center">
                                <figure class="mb-0 tilt-img">
                                    <img src="{% static 'frontend/images/resources/abt-img1.jpg' %}" alt="">
                                </figure>
                            </div>
                            <div class="align-self-start">
                                <figure class="mb-0  tilt-img">
                                    <img src="{% static 'frontend/images/resources/abt-img2.jpg' %}" alt="">
                                </figure>
                                <figure class="mb-0 tilt-img">
                                    <img src="{% static 'frontend/images/resources/abt-img3.jpg' %}" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="sec-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="sec-heading text-center">
                            <span class="text-theme fs-20 d-block mb-2">Nuestros Productos</span>
                            <h2 class="text-uppercase fs-45 mb-40">Creemos Juntos</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <article>
                            <div class="blog-item">
                                <figure class="mb-0 position-relative">
                                    <img src="{% static 'frontend/images/resources/news1.jpg' %}" alt="">
                                    <div class="text-center">
                                        <a href="blog-detail.html" title="" class="theme-btn-secondary">learn
                                            More<span></span></a>
                                    </div>
                                </figure>
                                <div class="blog-desc mx-3 position-relative">
                                    <div class="blog-txt bg-white">
                                        <a href="javascript:void(0)" title="" class="blog-date fs-16">20 July 2021</a>
                                        <h3 class="fs-22 mt-2"><a href="blog-detail.html" title="">Fast-food chain, go behind
                                                the scenes</a></h3>
                                        <p class="mb-0">Lorem ipsum dolor sit amet dieu ilisicing elit. Ea
                                            ratione opius dlil ilm or maion.</p>
                                    </div>
                                    <div class="blog-meta d-flex flex-row">
                                        <a class="text-white fs-15" href="javascript:void(0)" title=""><i
                                                class="flaticon-comment"></i>No Comments</a>
                                        <a class="text-white fs-15 ml-auto" href="javascript:void(0)" title=""><i
                                                class="flaticon-heart"></i>22 Likes</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
