{% load static i18n %}

<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="logo">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="{% static 'frontend/images/logo.jpg' %}" alt="qulilita">
            </a>
        </div>
        <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown position-relative">
                    <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        INICIO
                    </a>
                </li>
                <li><a href="" title="">SOBRE NOSOTROS</a></li>

                <li class="nav-item dropdown position-relative">
                    <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        PRODUCTOS
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">TAZAS PERSONALIZADAS
                            </a></li>
                        <li><a class="dropdown-item" href="#">PERSONALIZA TU TAZA</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown position-relative">
                    <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        BLOG
                    </a>
                </li>
                <li><a href="" title="">CONTACTOS</a></li>
            </ul>

        </div>
        <div class="navbar-toggler active">
            <span></span><span></span><span></span>
        </div>
    </nav>

</div>