{% load static i18n %}

<script src="{% static 'frontend/js/jquery.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/js/wow.min.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.preloadinator.min.js' %}"></script>
<script src="{% static 'frontend/js/tilt.jquery.min.js' %}"></script>
<script src="{% static 'frontend/js/script.js' %}"></script>
