{% load static i18n %}

        <div class="brook-hero-nav-slider-area">
            <div class="brook-element-carousel slick-arrow-center slick-arrow-rounded lr-0"
            data-slick-options='{ 
            "slidesToShow": 1, 
            "slidesToScroll": 1, 
            "arrows": true, 
            "infinite": true,
            "dots": false,
            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "ion ion-ios-arrow-back" },
            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "ion ion-ios-arrow-forward" }
        }'
        >

                    <div class="hero-item bg-image" data-bg="{% static 'frontend/img/slider/essential/essential1.webp' %}">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
    
                                    <div class="hero-content-3 left">
                                        <h3>We're here to level <br> up your online <br> presence.</h3>
                                        <h6>A Creative Agency like no other. </h6>
                                        <a class="brook-btn btn-sd-size space-between btn-essential btn" href="#">Learn More</a>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hero-item bg-image" data-bg="{% static 'frontend/img/slider/essential/Sh.jpg' %}">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
    
                                    <div class="hero-content-3 left">
                                        <h3>We're here to level <br> up your online <br> presence.</h3>
                                        <h6>A Creative Agency like no other. </h6>
                                        <a class="brook-btn btn-sd-size space-between btn-essential btn" href="#">Learn More</a>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
        </div>