{% load static i18n %}

<section class="main-slider2 position-relative">
    <div class="kenburn-slider owl-carousel">
        <div class="kenburn-slide">
            <div class="parallax blk-overlay slide-image"
                style="background-image: url({% static 'frontend/images/slide-image.jpg' %});"></div>
        </div>
        <div class="kenburn-slide">
            <div class="parallax blk-overlay slide-image"
                style="background-image: url({% static 'frontend/images/slide-image.jpg' %});"></div>
        </div>
        <div class="kenburn-slide">
            <div class="parallax blk-overlay slide-image"
            style="background-image: url({% static 'frontend/images/slide-image.jpg' %});"></div>
        </div>
    </div>
    <div class="container">

        <div class="kenburn-text text-center">
            <h3 class="position-relative text-white" style="font-family: ITC Eras">Creemos Juntos</h3>
            <h2 class="text-theme text-white" style="font-family: FG Ellinor W00 Regular">Qulilita</h2>
            <p class="mb-0 text-white" style="font-family: 'Montserrat', sans-serif;">"Tu taza, tu estilo. 🎨 Personaliza con nosotros y disfruta de cada sorbo con tu diseño único."</p>
        </div>
    </div>
</section>